.orders-page {
  width: 100%;
}

.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.orders-header .ant-input-affix-wrapper {
  max-width: 400px;
}

.orders-filter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.orders-filter .ant-select {
  width: 180px;
}

.orders-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.order-card {
  border: 1px solid #e5e5e5;
  background: white;
}

.order-card-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.status-badge {
  padding: 4px 10px;
  border-radius: 0;
}

.order-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.order-product {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.order-product img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.order-product h3 {
  margin: 0;
  max-width: 400px;
}

.order-product p {
  margin-top: 8px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.order-summary p {
  margin: 0;
  color: #b5b4b4;
}

.order-summary-price {
  margin: 10px 0;
}

.order-summary-button {
  display: unset;
  background: #3267e3;
}

@media (max-width: 768px) {
  .orders-header {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .orders-filter {
    min-width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .orders-list {
    max-height: 70vh;
    overflow: auto;
    /* padding: 12px;
    border: 1px solid #e5e5e5; */
  }

  .order-card {
    background: white;
    padding: 12px 0;
  }

  .order-card-header {
    flex-direction: column;
    align-items: start;
  }

  .order-card-body {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .order-product {
    align-items: start;
  }

  .order-product .heading6,
  .order-product p {
    margin: 0;
  }

  .order-summary {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
