.checkout-page-container {
  font-family: "Clash Grotesk" !important;
}

.checkout-container {
  display: flex;
  gap: 12px;
}

.checkout-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkout-right {
  flex: 1;
}

.checkout-card {
  border-radius: 0;
}

.checkout-address-title,
.checkout-shipping-title,
.checkout-cart-overview,
.checkout-summary-title {
  margin: 0;
}

.checkout-cart-info {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkout-cart-name {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 70%;
  gap: 20px;
}

.checkout-cart-title {
  margin: 0;
}

.checkout-cart-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  margin: 0;
  flex: 1;
}

.checkout-cart-discount {
  display: flex;
  gap: 4px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.shipping-checkout-card {
  height: 320px;
}

.shipping-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* adjust this based on your header height */
.shipping-scroll-container {
  overflow-y: auto;
  margin-top: 16px;
  max-height: calc(250px - 48px);
}

.shipping-radio-group {
  display: flex;
  flex-direction: column;
}

.shipping-radio-item {
  width: 100%;
  padding: 12px;
  border: 1px solid #e5e5e5;
  transition: all 0.2s ease;
}

/* hover effect */
.shipping-radio-item:hover {
  border-color: #1677ff;
}

/* selected state */
.ant-radio-wrapper-checked {
  border-color: #1677ff;
  background-color: rgba(22, 119, 255, 0.05);
}

.shipping-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shipping-left p {
  margin: 0;
}

.checkout-summary-card {
  border-radius: 0;
}

.checkout-summary-row,
.checkout-summary-total {
  display: flex;
  justify-content: space-between;
}

.checkout-summary-row p {
  margin: 0;
}

.ant-radio-inner {
  border-color: #3267e3 !important;
}

.ant-radio-checked::after {
  border: 1px solid #3267e3 !important;
}

@media (max-width: 1024px) {
  .checkout-container {
    flex-direction: column;
    gap: 24px;
  }

  .event-schedule-title {
    margin: 30px 0;
  }

  .checkout-cart-name {
    justify-content: start;
  }

  .checkout-cart-quantity {
    display: flex;
    width: 20%;
    justify-content: end;
  }
}

@media (max-width: 768px) {
  .checkout-page-container {
    padding: 0 0 30px 0;
  }

  .checkout-steps {
    padding: 0 30px 0 30px;
  }

  .checkout-container {
    flex-direction: column;
  }

  .checkout-cart-info {
    align-items: start;
  }

  .checkout-cart-information-mobile {
    width: 100%;
  }

  .checkout-cart-price-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    flex: 1;
  }

  .checkout-cart-discount {
    justify-content: start;
  }

  .checkout-left {
    gap: 12px;
  }
}
