.service-container {
  padding: 4vh 60px 60px 60px;
}

.service-title {
  color: #0a0a0a;
  margin: 0;
}

@media (max-width: 1024px) {
  .service-container {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .service-container {
    padding: 30px;
  }

  .menu-service {
    width: 100%;
    overflow-x: auto;
  }
}
