NODE_ENV= 
PORT= 
JWT_SECRET= 

FRONTEND_ORIGIN= 
ADMIN_ORIGIN= 

PROTOCOL= 
HOST=

NEW_MONGO_URI=

RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1/
RAJAONGKIR_API_KEY=

MIDTRANS_MERCHANT_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_BASE_URL=