.menu-text {
  background: #fff;
  color: #333;
  width: 100%;
}

.menu-item {
  padding: 0.5rem 0;
  border-bottom: 1px dashed #ccc;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 30px;
  scroll-behavior: smooth;
}

.menu-item-row {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 30px;
  scroll-behavior: smooth;
}

.menu::-webkit-scrollbar {
  height: 8px;
}

.menu::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #344EAD;
  border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: #2B4190;
}

.menu-name {
  margin: 0 0 0 0.5rem;
  color: #1a1a1a;
  max-width: 15vw;
}

.menu-price {
  color: #1a1a1a;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.menu-description {
  font-size: 14px;
  color: #666;
  margin: 0 0 0 1.5rem;
  width: 70%;
  text-align: justify;
}

.menu-category {
  flex: 1 1 300px;
  background: #f9f9f9;
  padding: 1rem;
  min-width: 40%;
}

.menu-category h2 {
  color: #344EAD;
  margin: 2rem 0;
  font-size: 24px;
}

.menu-subcategory h3 {
  color: #344EAD;
  margin: 32px 0 16px 0;
  font-size: 20px;
}

.menu-category ul {
  list-style: none;
  padding-left: 0;
}

.menu-category li {
  margin-bottom: 0.5rem;
}

@media(max-width:768px){
  .menu-category {
    min-width: 80%;
  }

  .menu-row {
    gap: 15px;
  }

  .menu-name {
    max-width: 30vw;
  }

  .menu-price {
    flex-direction: column;
    gap: 5px;
    max-width: 15vw;
    text-align: end;
  }
}