.login-information {
  margin-top: 15px;
  text-align: center;
}

.login-title {
  margin: 0 0 30px 0;
}

.login-button {
  width: 100%;
  border-radius: 0;
  background-color: #3267e3;
  color: #fff;
  margin: 10px 0 0 0;
}

.login-button:hover {
  background-color: #344ead !important;
  border-color: #3267e3 !important;
  color: #fff !important;
}
