.payment-container {
  gap: 24px;
}

.payment-left {
  flex: 2;
}

.payment-right {
  flex: 1;
}

.payment-title,
.payment-subtitle {
  margin: 0;
}

.payment-info-card {
  border-radius: 0;
}

.summary-card {
  padding: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 16px;
}

.pay-btn {
  margin-top: 20px;
  height: 45px;
  font-weight: 500;
}
