@font-face {
  font-family: "Zuume Soft";
  src: url('../../Fonts/Zuume\ Soft\ Medium.ttf') format('truetype');
}

.home-container {
  /* height: 100vh; */
  /* background-color: #000000; */
  margin: 0px;
  width: 100%;
  overflow: hidden; /* Prevent excessive overflow */
  color: #ffffff;
}

.carousel-image-container {
  position: relative; /* Necessary for text positioning */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; /* Vertically centers text */
  justify-content: start; /* Horizontally aligns text to the left */
  overflow: hidden;
}

.background-image {
  position: absolute; /* Makes the image behave as a background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container proportionally */
  z-index: -1; /* Places the image behind the text */
}

.text-overlay {
  position: absolute; /* Allows precise placement */
  bottom: 20px; /* Adjust spacing from the bottom */
  left: 20px; /* Adjust spacing from the left */
  color: white; /* Ensure text is visible over the image */
  z-index: 1;
  margin: 40px 40px;
}

.text-overlay .title {
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
}

.text-overlay .subtitle {
  font-size: 16px;
  padding: 0;
}

.ant-carousel {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
.ant-carousel .slick-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
.ant-carousel .slick-track {
  display: flex !important;
  align-items: center;
  height: auto !important; /* Prevent overflow issues */
}

.ant-carousel .slick-slide {
  height: 100%; /* Ensure uniform slide height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 0;
  /* cursor: pointer; */
}

.icon {
  margin: 50px 0px;
  width: auto;
  height: 50%;
}

.cycling-container, .running-container, .triathlon-container {
  width: 34vw;
  flex: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  padding: 200px 0;
  overflow: hidden; /* Prevents any child content from overflowing */
}

.cycling-container {
  background: url("../../Images/Background/cyclingBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.running-container {
  background: url("../../Images/Background/runningBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.triathlon-container {
  background: url("../../Images/Background/triathlonBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.brand-container {
  background-color: #252525;
  color: #ffffff;
  overflow: hidden;
  padding: 50px 60px 100px 60px;
}

.title-button-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.brand-title {
  padding: 0 0 50px 0;
  text-align: center;
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(3, auto);  /* 3 rows */
  gap: 20px;
  justify-items: stretch;
}

.brand-card {
  background-color: rgba(97,97,97,0.07);
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.3s;
}

.brand-card:hover {
  background-color: #2a2a2a;
}

.brand-logo {
  max-height: 40px;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.brand-logo:hover {
  filter: grayscale(0%);
}

.explore-more {
  cursor: pointer;
}

.explore-text {
  text-align: center;
}

.explore-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.explore-label {
  font-size: 0.875rem;
  margin-top: 4px;
}

.content-container {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.top-picks-container {
  background-color: #FFFFFF;
}

.top-picks-title {
  font-size: 96px;
  font-weight: 400;
  line-height: 85px;
  text-align: center;
  color: #0A0A0A !important;
}

.top-picks-button {
  width: min-content;
  white-space: nowrap;
  margin-top: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between product cards */
  overflow-x: auto; /* Enable horizontal scrolling */
  height: auto;
  padding: 10px;
  background-color: #FFFFFF;
  scroll-behavior: smooth; /* Smooth scrolling for a better user experience */
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.products::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.products::-webkit-scrollbar-thumb {
  background-color: #3267E3; /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}

.products::-webkit-scrollbar-track {
  /* background-color: #f0f0f0; Scrollbar track color */
}

.shop-container {
  padding: 60px 0 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-title {
  color: #0A0A0A !important;
  text-align: left; 
  margin: 0 0 40px 0;
  width: 100%;
}