.motto-container {
    padding: 0 40px 40px 40px;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
  }

  .logo-quote-container {
    cursor: pointer;
    padding: 20px 0 40px 0;
  }
  
  .motto-desc {
    font-size: 96px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Zuume Soft';
  }
  
  .about-us-button {
    width: fit-content;
    margin: 40px 0 0 0;
  }

  @media (max-width:768px){
    .motto-container {
      padding: 0;
      height: 60vh;
      background-position-x: right;
      background-position-y: bottom;
    }

    .logo-quote-container {
      padding: 0 0 10px 0;
    }

    .motto-desc {
      font-size: 62px;
      padding: 0 30px;
    }
  }