.past-event-details-container {
    max-width: 800px;
    margin: 8vh auto;
    padding: 0 20px;
    text-align: justify;
  }

  .past-event-back-button {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }
  
  .event-title {
    font-size: 34PX;
    font-weight: 700;
    margin: 30px 0 10px 0;
  }
  
  .event-datetime {
    color: #888;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  .event-thumbnail {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .event-short-desc {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .event-article-section {
    margin-bottom: 40px;
  
    h2 {
      font-size: 34px;
      margin-bottom: 12px;
      font-weight: 600;
    }
  
    p {
      font-size: 16px;
      line-height: 1.7;
    }
  }

  @media(max-width:768px){
    .past-event-details-container {
      margin: 2vh 0 0 0;
      padding: 0 30px;
    }
  }
  