  .articlelist-event-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 60px 0;
    gap: 20px;
  }

  .articlelist-event-date {
    font-weight: bold;
    color: #344EAD;
    font-size: 24px;
    margin: 0;
  }

  .articlelist-event-title {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 34px;
    margin: 5px 0;
    /* cursor: pointer; */
  }

  .articlelist-event-description {
    color: #0a0a0a;
    font-size: 16px;
    margin: 0;
    width: 90%;
    text-align: justify;
  }

  .articlelist-event-info {
    flex: 2; /* or any ratio you like */
  }

  .articlelist-event-image {
    flex: 1;
    max-width: 320px;
    max-height: 250px;
    width: 100%;
    height: auto;
    object-fit: cover; /* Crop image nicely */
    aspect-ratio: 16 / 9; /* 👈 Optional: force landscape proportion */
  }