 /* Center title */
 .fc .fc-toolbar-title {
  font-size: 2rem;
  font-weight: 700;
}

/* Buttons */
.fc .fc-button {
  background: white;
  color: #000;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  padding: 0.4rem 1rem;
  font-weight: 500;
  text-transform: capitalize;
  box-shadow: none;
}

.fc .fc-button:hover {
  background: white;
  color: #000;
  border-color: #2d64f1;
}

.fc .fc-button.fc-button-active {
  background-color: #2d64f1 !important;
  color: white;
  border: none;
  box-shadow: none;
}

/* Calendar grid */
.fc .fc-daygrid-day-number {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  color: #0a0a0a;
}

.fc-col-header-cell {
  background-color: #EDEDED;
}

.fc-col-header-cell-cushion {
  color: #0a0a0a;
}

.fc-event-time, .fc-event-title {
  color: #1a1a1a;
}

/* Event boxes */
.fc-event {
  background-color: #D6E1F9;
  border-left: 2px solid #344EAD !important;
  font-size: 0.75rem;
  border: none;
  padding: 0.25rem 0.4rem;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc-event-main {
  color: #0a0a0a !important;
}

.fc-daygrid-event {
  border-radius: 0 !important;
  margin-top: 20px !important;
}

.fc-event-start {
  margin-left: 20px !important;
}

.fc-event-end {
  margin-right: 20px !important;
}

.fc--button .fc-button .fc-button-primary {
  padding: 0 !important;
}

/* custom day view event */
.custom-calendar-event {
  display: grid;
  grid-template-columns: 100px 1fr 1fr auto;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #000;
}

.calendar-event-time {
  font-weight: bold;
}

.calendar-event-title {
  font-weight: bold;
}

.calendar-event-location {
  color: #333;
  font-weight: bold;
}

.read-details {
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}

/* ------------- */
/* MODAL STYLING */
/* ------------- */
.ant-skeleton {
  padding: 2rem;
}

.custom-event-modal .ant-modal-content {
  padding: 0;
  border-radius: 0px;
  overflow: hidden;
}

.event-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 3rem 0 3rem;
}

.event-modal-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  height: 100%;
}

.event-modal-header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.event-modal-image {
  max-width: 320px;
  max-height: 180px;
  width: 100%;
  object-fit: cover;
}

.event-modal-title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.event-modal-date {
  color: #344EAD;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.event-modal-time, .event-modal-pace {
  font-weight: 500;
  font-size: 16px;
  margin:0;
}

.event-modal-location {
  font-weight: 500;
  font-size: 16px;
  margin:0;
}

.event-modal-descriptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.event-modal-description,
.event-modal-additional {
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

/* .event-modal-additional {
  background-color: #6284ff;
  color: #ffffff;
  padding: 0.5rem;
} */

.ant-modal-footer {
  margin-top: 0px !important;
}

.event-modal-actions {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0 0 3rem 0;
  margin-top: auto; /* push to bottom */
}

.edit-modal-btn,
.delete-modal-btn {
  padding: 10px 16px;
  margin-right: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.edit-modal-btn {
  background-color: #3267E3;
  color: white;
  &:hover {
    background-color: #2A56BD;
  }
}

.delete-modal-btn {
  background-color: #CB3A31;
  color: white;
  &:hover {
    background-color: #A93029;
  }
}

