.address-container {
    padding: 60px;
    height: 100%;
    background-image: url("../../Images/Background/bg-blue-comum\ 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #344EAD;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.address-title {
  margin: 0;
}

.get-direction-btn {
    margin-top: 16px;
    padding: 10px 18px;
    background-color: #43946C;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
  }
  
  .get-direction-btn:hover {
    background-color: #387B5A;
  }
  
  @media(max-width:768px)
  {
    .address-container{
      padding: 30px;
    }
  }