.custom-steps {
  background-color: #161c33;
  padding: 6vh 20vw;
}

.steps-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #3a4468;
  transform: translateY(-50%);
  z-index: 0;
}

.step-circle {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #161c33;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
}

.step-check {
  color: #fff;
  font-size: 10px;
  line-height: 1;
}

.step-circle.active {
  border: 3px solid #5085ff;
}

.step-circle.completed {
  background: #214597;
  border: 3px solid #214597;
}

.steps-titles-row {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.step-title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.step-title.active {
  color: #5085ff;
}

.step-title.completed {
  color: #214597;
}

@media (max-width: 768px) {
  .step-circle {
    width: 16px;
    height: 16px;
  }

  .step-check {
    font-size: 8px;
  }

  .step-title {
    margin-top: 10px;
  }

  .custom-steps {
    padding: 24px;
  }
}