.custom-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  background-color: #161c33;
  padding: 6vh 20vw;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.step-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #161c33;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
}

.step.active .step-circle {
  border: 3px solid #5085ff;
  color: white;
}

.step.completed .step-circle {
  background: #214597;
  color: #214597;
  border: 3px solid #214597;
}

.step-title {
  margin-top: 20px;
  margin-bottom: 0;
}

.step-title.active {
  color: #5085ff;
}

.step-title.completed {
  color: #214597;
}

@media (max-width: 768px) {
  .step-circle {
    width: 16px;
    height: 16px;
  }

  .step-title {
    margin-top: 10px;
  }

  .custom-steps {
    padding: 24px;
  }
}
