.checkout-layout {
  padding: 4vh 60px 60px 60px;
  background-color: #f5f5f5;
  font-family: "Clash Grotesk" !important;
}

@media (max-width: 1024) {
  .checkout-layout {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .checkout-layout {
    padding: 0;
  }
}
