.mobile-menu-overlay {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2e47bd;
    height: 100%;
    font-family: "Clash Grotesk";
  }
  
  .mobile-menu-header {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin: 1rem;
  }
  
  .menu-search input {
    border-radius: 4px;
  }
  
  .menu-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    font-weight: bold;
    cursor: pointer;
  }

  .mobile-menu-item {
    padding: 25px 15px;
    border: 1px solid #BBCCF60D;
    cursor: pointer;
  }
  