.show-more-btn {
  border-color: #344ead;
  background-color: white;
  color: #344ead;
  padding: 4px 8px;
  font-size: 12px;
  margin: 14px 0 0 0;
}

input[type="checkbox"] {
  accent-color: #344ead; /* Use your desired color */
}

.filter-list {
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-search {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
}
