.register-form {
  padding: 100px 0 50px 0;
}

.register-information {
  margin-top: 15px;
  text-align: center;
}

.register-title {
  margin: 0 0 30px 0;
}

.register-button {
  width: 100%;
  border-radius: 0;
  background-color: #3267e3;
  color: #fff;
  margin: 30px 0 0 0;
}

.register-button:hover {
  background-color: #344ead !important;
  border-color: #3267e3 !important;
  color: #fff !important;
}

@media(max-width:768px){
  .register-form {
    padding: 4vh 10vw;
  }
}